.table td, .table th {
    padding: 5px !important;
    vertical-align: middle;
}

.tbl-icon {
    width: 20px;
    height: 20px;
}

div#top-banner {
    display: none !important;
}

div.sub-header {
    display: none !important;
}

div.latest-posts {
    display: none !important;
}

nav.navbar {
    display: none!important;
}
